<h3>Create a New Task</h3>

<% unless locals.empty? %>
<%= message %>
<% end %>

	<form action="/task" method="post">
		<label for="name">Title: </label>

		<input type="text" name="name" placeholder="name">
		<br>
		<label for="content">Desctiption: </label>
		<br>
		<textarea name="content"></textarea>

		<button type="submit" class="btn btn-primary btn-sm" name="create">Create</button>
	</form>
