<h4>Task Name: <%= @task.name.capitalize %></h4>
<h4><%= @task.content %></h4>
<form method="post" action="/tasks/<%=@task.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">

<button type="button" class="btn btn-default" name="edit_content"><a href="/tasks/<%= @task.id %>/edit">Edit</a></button>
</form>