<br>
<h4>Title: <%= @task.name.capitalize %></h4>
<br>
<h4> Description: <%= @task.content %></h4>
<% if @task.user_id == session[:user_id] %>
<br>
	<form action="/tasks/<%=@task.id%>/warning" method="get">
  		<input id="hidden" type="hidden" name="_method" value="delete">
  		<input type="submit" class="btn btn-primary btn-sm" value="Delete">

		<a href="/tasks/<%= @task.id %>/edit" class="btn btn-primary btn-sm">Edit</a>
	</form>
<% end %>