<h2>Edit Your Task</h2>
<% unless locals.empty? %>
<%= message %>
<% end %>
<br>
<form action="/tasks/<%= @task.id %>" method="post">
<input type="hidden" id="hidden" name="_method" value="patch">
<label for="name">Task Name: </label>
<input type="text" name="name" value="<% @task.name %>" placeholder="name">
<br>
<label for="location">Task Subject: </label>
<input type="text" name="location" value="<% @task.location %>" placeholder="subject">
<br>
<input type="submit" class="btn btn-default" value="Submit">
<button type="button" class="btn btn-default" name="delete"><a href="/tasks/<%= @task.id %>">Delete</a></button>
</form>
