<div class="inner cover" style="text-align: center">
<h1 class="cover-heading">Pygmalion Task Management</h1>
<h3 class="lead">The ultimate app for getting things done</h3>
  <p class="lead">
  	<a href="/login" class="btn btn-lg btn-default">Log In</a>
    <a href="/signup" class="btn btn-lg btn-default style="margin-left: 20px">Sign Up For Free</a>
  </p>
